<!DOCTYPE html>
<html>
<head>
    <title>Principal - Hotel Buena Vista</title>
    <meta charset="UTF-8"/>
 
</head>
<body>
    <header>
        <nav>            
            <ul class="nav-menu">
                <li class="nav-menu-item">
                    <a href="principal.html">Sección Principal</a>                    
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Bienvenido a la sección principal</h1>
        <p>Página temporal para pruebas.</p>
    </main>
    
    <footer>
        Todos los Derechos Reservados TechShop 2025 &COPY;
    </footer>
</body>
</html>
