<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>TODO write content</div>
    </body>
</html>
<div style="display:flex; gap:20px; flex-wrap:wrap;">

    <div th:each="h : ${habitaciones}" style="border:1px solid #ccc; padding:15px; width:250px;">
        <h3 th:text="${h.tipo}"></h3>
        <p>Capacidad: <span th:text="${h.capacidad}"></span></p>
        <p>Precio: ₡<span th:text="${h.precio}"></span></p>

        <a th:href="@{/reservas/crear/{id}(id=${h.id})}">
            <button>Reservar</button>
        </a>
    </div>

</div>

</body>
</html>