<!DOCTYPE html>
<html>
<head>
    <title>Principal - Hotel Buena Vista</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/css/estilos.css">
 
</head>
<body>
    <header>
        <nav>  
            <ul class="nav-menu">
                <li class="nav-menu" > <a href="/principal.html">Sección Principal</a> </li>
                <li class="nav-menu"> <a href="/inicioSeccion.html">Inicio Seccion</a> </li>
                <li class="nav-menu"> <a href="/registro.html">Registrarse</a> </li>
                <li class="nav-menu"> <a href="/husped.html">Seccion de Huesped</a> </li>
                <li> <a href="/reserva.html">Seccion de Reserva</a> </li>              
            </ul>
        </nav>
    </header>
    
    <aside>
        <h1>Bienvenido al Hotel Buena Vista</h1>
        <p>Los mejores precios y Comodidad la encuentra aqui </p>
    </aside>
    
    <footer>
        Todos los Derechos Reservados Hotel Buena Vista 2026 &COPY;
    </footer>
</body>
</html>
